{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "function-paren-newline": ["error", "consistent"],
    "no-unused-expressions": "off",
    "operator-linebreak": 0
  }
}
